body * {
  display: flex;
  margin: auto;
}
.main {
  width: 100vw;
  flex-flow: column;
}
.main > div {
  margin: auto;
}
#field > img {
  width: 20vw;
}
#pieces {
  flex-direction: column;
}
.figure-container {
  width: 20vw;
  height: calc(20vw/8)
}
.draggable {
  margin: 0;
}
.plus {
  margin: auto 0 auto auto;
}